.badge-pill {
    display: block;
    height: 32px;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: var(--primary) !important;
    border-radius: 9999px;
    font-size: 1.4rem;
}
