.wrapper {
    background-color: var(--bg-sidebar-dark);
    height: 100%;
}

.link {
    text-decoration: none;
    color: var(--text-primary);
    padding: 12px 16px;
    width: 100%;

    &:hover {
        color: pink;
    }

    & > span {
        font-size: 1.6rem;
    }
}
